<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link
      rel="stylesheet"
      href="./node_modules/element-ui/lib/theme-chalk/index.css"
    />
    <style>
      *::-webkit-scrollbar {
        width: 7px;
        height: 10px;
        background-color: transparent;
      } /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
      *::-webkit-scrollbar-track {
        background-color: #fff;
      } /*定义滚动条轨道 内阴影+圆角*/
      *::-webkit-scrollbar-thumb {
        background-color: #00b1df;
        border-radius: 6px;
      } /*定义滑块 内阴影+圆角*/
      .scrollbarHide::-webkit-scrollbar {
        display: none;
      }
      .scrollbarShow::-webkit-scrollbar {
        display: block;
      }

      .el-tree {
        background-color: transparent;
      }

    </style>
  </head>
  <body>
    <div id="app">
      <div
        style="
          display: flex;
          background-image: url(./img/background.png);
          height: 60px;
        "
      >
        <div id="time" style="margin-left: 1.5%"></div>
        <div class="head" style="margin-left: 10%">
          <p style="font-size: 34px; color: #01c4f7">线路故障定位系统</p>
        </div>
        <div style="margin-left: 30%">
          <el-button @click="back" type="text"
            ><img src="./img/返 回.png" alt=""
          /></el-button>
        </div>
      </div>
      <div style="display: flex">
        <div
          style="
            width: 15%;
            height: 1015px;
            margin-left: 1%;
            border: 1px solid #00b1df;
            box-shadow: 0 0 5px #00b1df;
            padding-left: 1%;
            overflow: auto;
          "
        >
          <p style="font-size: 26px; color: #00b1df; margin-top: 1%">
            线路信息
          </p>
          <!-- 线路信息tree列表 -->
          <el-tree
            :data="departTreeList"
            :props="defaultProps"
            @node-click="handleNodeClick"
            :default-expand-all="true"
          >
            <span class="custom-tree-node" slot-scope="{node,data}">
              <span style="color: #00b1df">
                <i
                  ><img
                    src="./img/部门.png"
                    alt=""
                    v-if='data.node_type == "DEPARTMENT"' />
                  <img
                    src="./img/线路.png"
                    alt=""
                    v-if='data.node_type == "LINE"' />
                  <img
                    src="./img/杆塔.png"
                    alt=""
                    v-if='data.node_type == "TOWER"' />
                  <img
                    src="./img/设备.png"
                    alt=""
                    v-if='data.node_type == "DEVICE"' /></i
                >{{ data.name }}
              </span>
            </span>
          </el-tree>
        </div>
        <div style="width: 83%">
          <div v-show="departId">
            <p
              style="
                font-size: 36px;
                color: #fff;
                margin-left: 40%;
                margin-top: 30%;
              "
            >
              该部门下暂无该设备
            </p>
          </div>
          <div v-show="!departId"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/vue.js"></script>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/jquery-1.11.1.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/echarts.min.js"></script>
  <script src="./js/clock.js"></script>
  <script>
    let electron = require("electron");
    const { ipcRenderer } = electron;
    new Vue({
      el: "#app",
      data: {
        data: [],
        defaultProps: {
          children: "child",
          label: "name",
        },
        departId: true,
        getDepartid: "",
        departTreeList: [],
      },
      created() {
        this.getDepartID();
      },
      methods: {
        //在localStorage里去取出登陆成功返回的部门ID
        getDepartID() {
          this.getDepartid = "";
          let id = JSON.parse(localStorage.getItem("LoginUser"));
          this.getDepartid = id.departID;
        },
        back() {
          ipcRenderer.send("openindex");
        },

        getajax(url, data, callback) {
          $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (res) {
              //    console.log(res);
              callback(res);
            },
            dataType: "json",
          });
        },

        handleNodeClick(datas) {
          // console.log(datas);
          let that = this;
          if (datas.node_type == "DEPARTMENT") {
            let data = {
              page: 1,
              size: 100,
              sort: "desc",
              keyword: "",
              dept_id: datas.dept_id,
            };
            $.ajax({
              type: "POST",
              url: "http://www.cqset.com:8081/api/v2/line/list",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              success: function (res) {
                datas.child = res.data;
              },
            });
          }
          if (datas.node_type == "LINE") {
            let data = {
              page: 1,
              size: 100,
              sort: "desc",
              keyword: "",
              line_id: "",
            };
            $.ajax({
              type: "POST",
              url: "http://www.cqset.com:8081/api/v2/towers/list",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              success: function (res) {
                datas.child = res.data;
              },
            });
          }
          if (datas.node_type == "TOWER") {
            let data = {
              page: 1,
              size: 100,
              sort: "desc",
              keyword: "",
              tower_id: "1568879795240",
            };
            $.ajax({
              type: "POST",
              url: "http://www.cqset.com:8081/api/v2/device/list",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              success: function (res) {
                datas.child = res.data;
              },
            });
          }
        },
        // 得到部门的树形数据
        getdepart() {
          let that = this;

          let d = that.getDepartid.substr(2, 2);
          let data = { pid: +d }; //+隐式转换成number

          $.ajax({
            type: "POST",
            url: "http://www.cqset.com:8081/api/v2/dept/tree",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (res) {
              // console.log(res);
              let data = [];
              data.push(res.data);
              that.departTreeList = data;
              // console.log(data);
            },
          });
        },
      },
      mounted() {
        this.getdepart();
      },
    });
  </script>
</html>
