<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link
      rel="stylesheet"
      href="./node_modules/element-ui/lib/theme-chalk/index.css"
    />
    <style>
      *::-webkit-scrollbar {
        width: 7px;
        height: 10px;
        background-color: transparent;
      } /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
      *::-webkit-scrollbar-track {
        background-color: #fff;
      } /*定义滚动条轨道 内阴影+圆角*/
      *::-webkit-scrollbar-thumb {
        background-color: #00b1df;
        border-radius: 6px;
      } /*定义滑块 内阴影+圆角*/
      .scrollbarHide::-webkit-scrollbar {
        display: none;
      }
      .scrollbarShow::-webkit-scrollbar {
        display: block;
      }
      .el-tree {
        background-color: transparent;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div
        style="
          display: flex;
          background-image: url(./img/background.png);
          height: 60px;
        "
      >
        <div id="time" style="margin-left: 1.5%"></div>
        <div class="head" style="margin-left: 10%">
          <p style="font-size: 34px; color: #01c4f7">杆塔倾斜</p>
        </div>
        <div style="margin-left: 36%">
          <el-button @click="back" type="text"
            ><img src="./img/返 回.png" alt=""
          /></el-button>
        </div>
      </div>

      <div style="display: flex">
        <div
          style="
            width: 15%;
            height: 1015px;
            margin-left: 1%;
            border: 1px solid #00b1df;
            box-shadow: 0 0 5px #00b1df;
            padding-left: 1%;
            overflow: auto;
          "
        >
          <p style="font-size: 26px; color: #00b1df; margin-top: 1%">
            线路信息
          </p>
           <!-- 线路信息tree列表 -->
           <el-tree
           :data="departTreeList"
            :props="defaultProps"
            @node-click="handleNodeClick"
            :default-expand-all="true"
          >
            <span class="custom-tree-node" slot-scope="{node,data}">
              <span style="color: #00b1df">
                <i
                  ><img
                    src="./img/部门.png"
                    alt=""
                    v-if='data.node_type == "DEPARTMENT"' />
                  <img
                    src="./img/线路.png"
                    alt=""
                    v-if='data.node_type == "LINE"' />
                  <img
                    src="./img/杆塔.png"
                    alt=""
                    v-if='data.node_type == "TOWER"' />
                  <img
                    src="./img/设备.png"
                    alt=""
                    v-if='data.node_type == "DEVICE"' /></i
                >{{ data.name }}
              </span>
            </span>
          </el-tree>
        </div>
        <div style="width: 83%">
          <div v-show="departID">
            <p
              style="
                font-size: 36px;
                color: #fff;
                margin-left: 40%;
                margin-top: 30%;
              "
            >
              该部门下暂无该设备
            </p>
          </div>
          <div v-show="!departID">
            <div style="display: flex">
              <div
                style="
                  width: 65%;
                  height: 500px;
                  border: 1px solid #00b1df;
                  box-shadow: 0 0 5px #00b1df;
                  margin-left: 1.5%;
                "
                id="t_echart"
              ></div>
              <div
                style="
                  width: 30%;
                  height: 500px;
                  margin-left: 1.5%;
                  border: 1px solid #00b1df;
                  box-shadow: 0 0 5px #00b1df;
                "
              >
                <div id="t_echarts" style="height: 500px"></div>
              </div>
            </div>
            <div style="display: flex; margin-top: 0.8%">
              <div
                style="
                  width: 65%;
                  height: 500px;
                  border: 1px solid #00b1df;
                  box-shadow: 0 0 5px #00b1df;
                  margin-left: 1.5%;
                "
              >
                <div id="t_echar" style="height: 500px"></div>
              </div>
              <div
                style="
                  width: 30%;
                  height: 500px;
                  margin-left: 1.5%;
                  border: 1px solid #00b1df;
                  box-shadow: 0 0 5px #00b1df;
                "
              >
                <div id="t_echars" style="height: 500px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/vue.js"></script>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/jquery-1.11.1.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/echarts.min.js"></script>
  <script src="./js/clock.js"></script>
  <script>
    let electron = require("electron");
    const { ipcRenderer } = electron;
    new Vue({
      el: "#app",
      data: {
        data: [],
        defaultProps: {
          children: "child",
          label: "name",
        },
        departID: true,
        getDepartid: "",
        departTreeList: [],
      },

      created() {
        this.getDepartID();
      },
      methods: {
        //在localStorage里去取出登陆成功返回的部门ID
        getDepartID() {
          this.getDepartid = "";
          let id = JSON.parse(localStorage.getItem("LoginUser"));
          this.getDepartid = id.departID;
        },
        back() {
          ipcRenderer.send("openindex");
        },
        getajax(url, data, callback) {
          $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (res) {
              //    console.log(res);
              callback(res);
            },
            dataType: "json",
          });
        },
        handleNodeClick(datas) {
          // console.log(datas);
          let that = this;
          if (datas.node_type == "DEPARTMENT") {
            let data = {
              page: 1,
              size: 100,
              sort: "desc",
              keyword: "",
              dept_id: datas.dept_id,
            };
            $.ajax({
              type: "POST",
              url: "http://www.cqset.com:8081/api/v2/line/list",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              success: function (res) {
                datas.child = res.data;
              },
            });
          }
          if (datas.node_type == "LINE") {
            let data = {
              page: 1,
              size: 100,
              sort: "desc",
              keyword: "",
              line_id: "",
            };
            $.ajax({
              type: "POST",
              url: "http://www.cqset.com:8081/api/v2/towers/list",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              success: function (res) {
                datas.child = res.data;
              },
            });
          }
          if (datas.node_type == "TOWER") {
            let data = {
              page: 1,
              size: 100,
              sort: "desc",
              keyword: "",
              tower_id: "1568879795240",
            };
            $.ajax({
              type: "POST",
              url: "http://www.cqset.com:8081/api/v2/device/list",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              success: function (res) {
                datas.child = res.data;
              },
            });
          }
        },
        getdepart() {
          let that = this;
          
          let d = that.getDepartid.substr(2, 2);
          let data = { pid: +d }; //隐式转换成number
          $.ajax({
            type: "POST",
            url: "http://www.cqset.com:8081/api/v2/dept/tree",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (res) {
              // console.log(res);
              let data = [];
              data.push(res.data);
              that.departTreeList = data;
            },
          });
        },
        gettower() {
          let that = this;
          that.getajax();
        },
        getbar() {
          var myCharts = echarts.init(document.getElementById("t_echart"));
          var option = {
            title: {
              text: "杆塔倾斜折线图",
              x: "center",
              textStyle: {
                //图例文字的样式
                color: "#00b1df",
                fontSize: 23,
              },
            },
            xAxis: {
              type: "category",
            },
            tooltip: {
              trigger: "axis",
            },
            yAxis: {
              type: "value",
            },
            series: [
              {
                data: [
                  3.1,
                  2.6,
                  1.5,
                  2.5,
                  3.5,
                  2.5,
                  4.8,
                  6.7,
                  7.6,
                  4.5,
                  3.5,
                  2.4,
                  3.5,
                  7.5,
                  5.5,
                  6.5,
                  2.5,
                  5.6,
                  3.5,
                  2.8,
                  2.5,
                  2.1,
                  2.5,
                  1.5,
                ],
                type: "line",
                smooth: true,
              },
            ],
          };
          myCharts.setOption(option);
          var myCharts = echarts.init(document.getElementById("t_echarts"));
          var options = {
            tooltip: {
              trigger: "axis",
              axisPointer: {
                // 坐标轴指示器，坐标轴触发有效
                type: "shadow", // 默认为直线，可选为：'line' | 'shadow'
              },
            },
            title: {
              text: "告警统计图",
              x: "center",
              textStyle: {
                //图例文字的样式
                color: "#00b1df",
                fontSize: 23,
              },
            },
            grid: {
              left: "3%",
              right: "4%",
              bottom: "1%",
              containLabel: true,
            },
            xAxis: {
              type: "category",
              data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"],
            },
            yAxis: {
              type: "value",
              show: false,
              splitLine: {
                //网格线
                show: false,
              },
            },
            series: [
              {
                data: [13, 25, 21, 17, 13, 20, 18],
                type: "bar",
                barWidth: 20,
                itemStyle: {
                  color: "#00b1df",
                },
                label: {
                  show: true,
                  position: "top",
                  formatter: "{c}条",
                  textStyle: {
                    color: "#fff",
                    fontSize: 12,
                  },
                },
              },
            ],
          };
          myCharts.setOption(options);
          var myCharts = echarts.init(document.getElementById("t_echars"));
          var optionss = {
            tooltip: {
              trigger: "item",
            },
            title: {
              text: "分析结果图",
              x: "center",
              textStyle: {
                //图例文字的样式
                color: "#00b1df",
                fontSize: 23,
              },
            },
            series: [
              {
                name: "设备比例",
                type: "pie",
                radius: ["80%", "0%"],
                avoidLabelOverlap: false,
                label: {
                  show: false,
                  position: "center",
                },
                emphasis: {
                  label: {
                    show: true,
                    fontSize: "20",
                    fontWeight: "bold",
                    color: "#fff",
                  },
                },
                labelLine: {
                  show: false,
                },
                data: [
                  { value: 1048, name: "杆塔监测" },
                  { value: 735, name: "布控装置" },
                  { value: 580, name: "边坡位移" },
                  { value: 484, name: "驱鸟器" },
                  { value: 300, name: "螺丝松动" },
                  { value: 300, name: "测温装置" },
                  { value: 2000, name: "综合在线监测" },
                ],
              },
            ],
          };
          myCharts.setOption(optionss);
          var myCharts = echarts.init(document.getElementById("t_echar"));
          var optio = {
            color: ["#80FFA5", "#00DDFF"],
            title: {
              text: "历史对比图",
              x: "center",
              textStyle: {
                //图例文字的样式
                color: "#00b1df",
                fontSize: 23,
              },
            },
            tooltip: {
              trigger: "axis",
            },
            legend: {
              data: ["上月", "当月"],
              //   orient: "vertical",
              //   x: "right", //可设定图例在左、右、居中
              //   y: "top",
              right: 40,
              textStyle: {
                //图例文字的样式
                color: "#fff",
                fontSize: 16,
              },
            },

            grid: {
              left: "3%",
              right: "4%",
              bottom: "3%",
              containLabel: true,
            },
            xAxis: [
              {
                type: "category",
                boundaryGap: false,
                // data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"],
              },
            ],
            yAxis: [
              {
                type: "value",
              },
            ],
            series: [
              {
                name: "上月",
                type: "line",
                stack: "总量",
                smooth: true,
                lineStyle: {
                  width: 0,
                },
                showSymbol: false,
                areaStyle: {
                  opacity: 0.8,
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    {
                      offset: 0,
                      color: "rgba(128, 255, 165)",
                    },
                    {
                      offset: 1,
                      color: "rgba(1, 191, 236)",
                    },
                  ]),
                },
                emphasis: {
                  focus: "series",
                },
                data: [
                  3.1,
                  2.6,
                  1.5,
                  2.5,
                  3.5,
                  2.5,
                  4.8,
                  6.7,
                  7.6,
                  4.5,
                  3.5,
                  2.4,
                  3.5,
                  7.5,
                  5.5,
                  6.5,
                  2.5,
                  5.6,
                  3.5,
                  2.8,
                  2.5,
                  2.1,
                  2.5,
                  1.5,
                ],
              },
              {
                name: "当月",
                type: "line",
                stack: "总量",
                smooth: true,
                lineStyle: {
                  width: 0,
                },
                showSymbol: false,
                areaStyle: {
                  opacity: 0.8,
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    {
                      offset: 0,
                      color: "rgba(0, 221, 255)",
                    },
                    {
                      offset: 1,
                      color: "rgba(77, 119, 255)",
                    },
                  ]),
                },
                emphasis: {
                  focus: "series",
                },
                data: [
                  1.2,
                  2.8,
                  1.1,
                  3.4,
                  5.0,
                  3.4,
                  3.1,
                  1.4,
                  3.2,
                  4.1,
                  2.6,
                  6.0,
                  3.4,
                  2.5,
                  3.1,
                  2.6,
                  1.5,
                  2.5,
                  3.5,
                  2.5,
                  4.8,
                  6.7,
                  7.6,
                  4.5,
                  3.5,
                ],
              },
            ],
          };
          myCharts.setOption(optio);
        },
      },
      mounted() {
        this.getbar();
        this.getdepart();
      },
    });
  </script>
</html>
